#chatContainer {
    // background-color: #121215;
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    background-image: url("../assets/images/background.jpg");

    .hero-image {
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    app-sidebar {
        flex-basis: 30%;
        display: block;
        height: 100%;
    }
    
    #chat {
        flex-grow: 1;
        
        #chat-placeholder {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            
            p {
                padding: 13px;                   
                border-radius: 17px;
                background-color: #202026;
            }
        }
    }
}
 