<div id="sidebar">
    <div id="row1">

        <div id="sidebar-header">
            <div class="avatar-container">
                <img src="../../assets/images/potrait.jpg" alt="profile-pic">
            </div>

            <div class="actions-container">
                <div class="icon">
                    <img src="../../assets/images/menu-icon.jpg" alt="menu-icon">
                </div>
            </div>
        </div>

        <div id="search-box">
            <img src="../../assets/images/search-icon.jpg" alt="search-icon">
            <input type="text" placeholder="Search or start new chat">
        </div>
    </div>

    <div id="sidebar-content">
        <!-- <div id="no-conversations">All chats are archived</div> -->

        <div 
            class="conversation" 
            *ngFor="let conversation of conversations"
            (click)="conversationClicked.emit(conversation)"
        >

            <div class="picture">
                <img width="17" src="../../assets/images/potrait.jpg" alt="profile-pic">
            </div>

            <div class="content">
                <div class="conversation-header">
                    <div class="name">{{conversation.name}}</div>
                    <div class="time">{{conversation.time}}</div>
                </div>
                <div class="message">{{conversation.latestMessage}}</div>
            </div>
        </div>
    </div>
</div>
